* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.qr-container {
    width: 25%;
    margin: 60px auto;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.content {
    margin: 20px;
    text-align: center;
}

.content p {
    margin-top: 10px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}

.content h1 {
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}

.qr-container img {
    width: 100%;
    border-radius: 15px;
}

@media (min-width: 375px) {
    .qr-container {
        width: 80%;
        margin: 100px auto;
        padding: 15px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 15px;
    }
}